* {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    border: 1px solid #ddd;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    color: #000;
    display: block;
    padding: 15px 25px;
    border: 2px solid #ddd;
    text-decoration: none;
}

nav ul li:hover a {
    color: green;
}

.main {
    min-height: 300px;
}

footer {
    height: 50px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #ddd;
}